{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous"/>
  <link type="text/css" href="{% static 'users/css/style.css' %}" rel="stylesheet"/>
 <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>

  {% block head %}
  {% endblock %}
</head>
<body>

    {% include 'components/error.html' %}

  {% block content %}

  {% endblock %}
  <div class="log-main-container">

    <div class="log-container">

      <h1 class="log-head fw-bold">OQU ARNA</h1>

      {% block log_content %}

      {% endblock %}

      <form method="post" class="log-form">
        {% csrf_token %}
        {% block log_form_content %}


        {% endblock %}
      </form>

      {% block log_post_content %}

      {% endblock %}
    </div>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>