<<<<<<< Updated upstream
:root {
    --background-page-color: #EAEAEA;
    --primary-color: #605BCD;
    --secondary-color: #4b47a1;
    --dark-green: #398F68;

    --font-family-headlines: "Krona One" Inter;
}
=======
>>>>>>> Stashed changes



.fs-60px {
    font-size: 60px;
}

#register-button {
    margin-top: auto;
}

body {
    background-color: var(--background-page-color);
}

.log-main-container {
    display: flex;

    justify-content: center;
    flex-direction: row;
}

.log-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;

    height: 100vh;

    padding-top: 20px;
}


.log-head {
    color: var(--primary-color);
    font-family: var(--font-family-headlines);
    font-size: 140px;
}

.log-form {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-input {
    border: 0 solid var(--background-page-color);
    border-radius: 12px;
    width: 500px;
    height: 40px;

    padding: 5px;
}

.log-form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.log-link {
    color: var(--primary-color);
    text-decoration: none;
}

.btn-base {

    --bs-btn-color: white;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);

    width: 50%;
}


/*-----------Radio button---------------------*/

.role-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.role-toggle label {
    cursor: pointer;
    display: inline-block;
}

.role-toggle input[type="radio"] {
    display: none;
}

.role-toggle input[type="radio"] + span {
    border: none;
    outline: none;
    padding: 10px 60px;
    border-radius: 4px;
    font-size: 17px;
    background-color: var(--background-page-color);
    color: black;
    transition: background 0.2s;
}

.role-toggle input[type="radio"] + span:hover {
    background-color: rgb(244, 244, 244);
}

.role-toggle input[type="radio"]:checked + span {
    background-color: var(--primary-color);
    color: white;
}

.doc-wrapper {
    background-color: white;
    padding: 30px 85px 30px 65px;
    border-radius: 30px;
    width: 900px;
    height: 550px;


}

.doc {
    max-height: 490px;
    overflow-y: auto;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.doc::-webkit-scrollbar {
    width: 10px;
}

.doc::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 100px;
}

.doc::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 10px;
}


.doc-element {
    background-color: #60BC7A;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;


}

.doc-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.doc-name {
    color: white;
}

.doc-remove svg {
    cursor: pointer;
}

#files {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}


.form-profile {
    width: 75%;
    margin-top: 20px;


}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 150px;
}


.profile-input * {
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    background-color: white;
    padding: 0;
}

.profile-input {
    border: 0 solid var(--primary-color);
    border-radius: 12px;
    background-color: white;
    padding: 20px;

}

.input-info-title {
    padding-right: 5px;
}

.input-info input {
    padding-left: 0;
}

.input-info:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--primary-color);
}

.input-title {
    color: #373383;
    font-weight: bold;
    font-size: 20px;

    background-color: white;
}

.btn-profile-base {
    background-color: var(--primary-color);
    color: white;

}

.btn-outline-base {
  transition: background-color .2s, color .2s, box-shadow .2s;
  border: 4px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}


.btn-outline-base:hover {
  background-color: var(--primary-color); /* чуть светлее первичного */
  color: #fff;
  transform: translateY(-2px);                 /* лёгкий подъём */
}

/* Убрать стандартную обводку браузера и добавить «фокусный» ореол */
.btn-outline-base:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(96, 91, 205, 0.3);
}



.btn-base-2 {
    padding: 10px 0px;
    border-radius: 17px;
    width: 33%;
    font-size: 25px;
    font-weight: bold;
}

.btn-doc-1 {
    padding: 20px 0px;
    width: 40%;
    border-radius: 17px;
    font-size: 20px;
    font-weight: bold;

}


/* ===== ХЕДЕР И АВАТАР ===== */
.navbar-header {
    height: 350px;
    background-image: url("oqu-arna-web/static/icons/Vector.svg");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    overflow: visible;
}

.navbar-header-my-doc {
    height: 150px;
    background-image: url("oqu-arna-web/static/icons/Vector.svg");
    background-size: cover;
    background-position: center;

}

.navbar-avatar-wrapper {
    background-position: center;
    transform: translateX(-1%);
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

.navbar-avatar-wrapper:hover {
    transform: translateX(-1%) scale(1.05);
}

.navbar-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;


}


/* ===== МОДАЛЬНОЕ ОКНО ===== */
.modal-avatar {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;

}

.modal-avatar-content {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    text-align: center;
    min-width: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;    /* центрируем кнопки по горизонтали */
    gap: 10px;


}

.modal-avatar-content h4 {
    font-size: 35px;
    margin-bottom: 5px;
}

.modal-avatar .btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;


}

.green-btn {
    background-color: #3CB371;
    color: white;
    font-size: 35px;
    padding: 15px 40px;
    border-radius: 18px;

}

.white-btn {
    background-color: white;
    color: #3CB371;
    font-size: 35px;
    padding: 15px 100px;
    border-radius: 18px;
}

.cancel-btn {
    background-position: center;
    padding: 5px 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
}


.doc-remove svg {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.doc-remove:hover svg {
    transform: scale(1.1);
}



































