:root {
    --background-page-color : #EAEAEA;
    --primary-color: #605BCD;
    --secondary-color: #4b47a1;
    --dark-green: #398F68;

    --error-color: #DB2A2A;

    --font-family-headlines: "Krona One" Inter;

    --content-layout-bottom-padding: 100px;
    --content-layout-top-padding: 70px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}


body {
    display: flex;
    flex-direction: column;

    font-family: 'Inter', serif;

    background-color: var(--background-page-color);
}

.content-layout {

    display: flex;
    flex-direction: column;

    padding-bottom: var(--content-layout-bottom-padding);
    padding-top: var(--content-layout-top-padding);


}

.btn-base {

    --bs-btn-color: white;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);

    width: 50%;
}

.header {

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    border-radius: 0 0 30px 30px;

    padding: 10px;

    position: fixed;

    left: 0;
    top: 0;
    width: 100%;

    z-index: 1000;
}


.content {
    flex: 1;
    overflow: auto;
    height: 30%;
}

.navbar-container {

    display: flex;
    gap: 40px;

    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    border-radius: 64px 64px 0 0;

    flex-shrink: 0;



    position: fixed;

    left: 0;
    bottom: 0;
    width: 100%;


    padding: 5px;
}

.navbar-element {
    display: flex;
    flex-direction: column;

    align-items: center;

    text-decoration: none;

    padding: 5px 1px;

    border-radius: 14px;

    width: 75px;

    transition: background-color 0.3s ease-in-out 0s,
                opacity   0.3s ease-in-out 0s;
}

.navbar-element:hover {
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-element p{
    color: white;
    text-decoration: none;

    font-size: 12px;

    text-align: center;

    margin-top: 2px;
    margin-bottom: 0;

    white-space: normal;
    word-wrap: break-word;
}

.navbar-element-active {
    background-color: white;
}

.navbar-element-active:hover {
    background-color: white;
}

.navbar-element-active p {
    color: var(--primary-color);
}

.search {
    width: 40%;
    border-radius: 30px;

    border: 0 solid white;


    padding: 5px 0 5px 15px ;
}

/*-------------------------Cards----------------------*/

.appThemeBorderColor {
    border: var(--primary-color) solid 5px;
}


.appThemeColorBackground {
    background-color: var(--primary-color);
}


.card {
    height: 240px;
    border: 5px solid var(--primary-color);
    text-decoration: none;
}

.cardContainer {
    max-height: 80%;
    width: 85%;
    padding-bottom: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}

.cardShadow {
    box-shadow: 0 4px 0 rgba(96, 91, 205, 1);
}

.categoryName {
    font-size: 1.25em;
}

.imageContainer {
    height: 85%;
}

.coursePeriodBadge {
    font-size: 1em;
}

.coursePeriodDate {
    font-size: 0.8em;

    margin-top: 7em;
    align-self: end;
}

.cardIconContainer {
    height: 85%;
}

.modalBodyCell {
    height: 60px;
}

.modalBodyCellValue {
    color: var(--primary-color);
}

.modalBodyCellDownload {
    color: #398F68;
}

.pageHeader {
    font-size: 1.5rem;
}

.text-body {
    font-size: 0.8em;
}

/*----------------------radio toggle-----------------*/

.radio-toggle {
    display: flex;
    justify-content: space-between;

    width: 100%;
}


.radio-toggle label {
    cursor: pointer;
    display: inline-block;
}

.radio-toggle input[type="radio"] {
    display: none;
}

.radio-toggle label{
    padding: 10px;
    border-radius: 4px;
}

.radio-toggle input[type="radio"] + span {
    border: none;
    outline: none;
    padding: 10px 65px;
    border-radius: 4px;
    font-size: 17px;
    background-color: white;
    color: black;
    transition: background 0.2s;
}

.radio-toggle input[type="radio"] + span:hover {
    background-color: rgb(244, 244, 244);
}

.radio-toggle input[type="radio"]:checked + span {
    background-color: var(--primary-color);
    color: white;
}


/*Error*/

.error {
    padding: 10px 150px;
    border-radius: 0 0 20px 20px;

    position: absolute;
    right: 50%;
    transform: translateX(+50%);
    top: 0;

    background-color: var(--error-color);

    z-index: 1001;
}

.error-text {
    color: white;
}
