{% extends 'lessonActions.html' %}


{% block conference %}
    {% include 'components/lesson_action_link.html' with name="Создать конференцию" %}
{% endblock %}

{% block test %}
    {% include 'components/lesson_action_link.html' with name="Создать тест" %}
{% endblock %}

{% block task %}
    {% url 'content' course_id as content_url %}
    {% include 'components/lesson_action_link.html' with name="Загрузить задание" href=content_url %}
{% endblock %}

{% block choose_date_modal_button %}

{% endblock %}

{% block choose_date_modal %}
{% endblock %}