{% extends 'works_base.html' %}
{%load static%}
{%get_media_prefix as MEDIA_PREFIX%}
{% block header %}
    {% include 'components/name_page.html' with name=course_name href="javascript:history.back()" %}
{% endblock %}
{% block content %}
  <div
    class="d-flex-column bg-white justify-content-center align-items-center w-50 p-3 my-1 mx-auto rounded-5"
    style="height: 75vh; padding-right: 1rem; scrollbar-width: thin; scrollbar-color: #605BCD #BAB8D7;">
    <div class="px-2 h-100 overflow-y-auto">
      {%for lesson in lessons%}
        <div 
          class="container lessonBox h-25 mb-4 p-3 rounded-4 appThemeColorBackground text-white d-flex flex-column justify-content-between"
          data-bs-toggle="modal"
          data-bs-target="#lessonModal">
          <div class="d-flex justify-content-between align-items-start mb-2">
            <strong>{{ lesson.name }}</strong>
            <span class="date">{{ lesson.start_date }}</span>
          </div>
          <div class="d-flex flex-grow-1 align-items-stretch bg-light-subtle rounded-3 p-2">
            <div class="flex-grow-1 text-dark px-2 d-flex">
              <strong class="fs-4">{{ lesson.description }}</strong>
            </div>
            <div 
              class="edit-btn d-flex justify-content-center align-items-center rounded-3 ms-2 p-1"
              style="width: 80px; height: 80px; background-color: #D99A44;">
              <svg viewBox="0 0 39 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="edit-icon m-auto w-75 h-75 ">
                <path d="M27.2861 0.617127C27.671 0.221981 28.193 0 28.7373 0C29.2816 0 29.8036 0.221981 30.1886 0.617127L38.3992 9.04821C38.784 9.44348 39.0002 9.9795 39.0002 10.5384C39.0002 11.0973 38.784 11.6333 38.3992 12.0286L11.7146 39.4296C11.3297 39.8249 10.8077 40.0471 10.2633 40.0472H2.05267C1.50827 40.0472 0.986161 39.8251 0.601212 39.4299C0.216262 39.0346 0 38.4984 0 37.9394V29.5083C0.000116258 28.9494 0.216455 28.4133 0.601431 28.0182L21.1281 6.94044L27.2861 0.617127ZM22.5793 11.411L4.10533 30.381V35.8317H9.41353L27.8875 16.8617L22.5793 11.411ZM30.79 13.8813L34.0455 10.5384L28.7373 5.08771L25.4818 8.43063L30.79 13.8813Z" fill="white"/>
              </svg>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <a
    href="{%url 'create-lesson' 6 %}"
    class="d-block btn text-light mx-auto mt-2 fs-4 fw-bold addLessonBackground border border-dark"
    style="background-color: var(--dark-green);">
    Добавить занятие
  </a>
  <div 
    id="lessonModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="entityModal"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content appThemeColorBackground fw-bold rounded-4">
        <div class="modal-header border-0">
          <p class="modal-title m-auto text-light fs-4" id="entityModalLabel">
            Первое занятие
          </p>
        </div>
        <div class="modal-body d-flex flex-column justify-content-center p-5 rounded-bottom-4">
          <a
            class="btn btn-success mb-3"
            href="#">
            Настроить курс
          </a>
          <a
            class="btn bg-light my-3 text-success"
            href="#">
            Статистика курса
          </a>
          <a
            class="btn bg-light text-dark my-3 w-50 d-block m-auto rounded-3"
            href="#">
            Отмена
          </a>
        </div>   
      </div>
    </div>
  </div>
{% endblock content %}