{% extends "log_base.html" %}

{% block head %}

<title>OQU ARNA - регистрация</title>

{% endblock %}

{% block log_content %}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <h1 class="fs-60px fw-bold mb-2">Добро пожаловать!</h1>
  <p>Зарегестрируйтесь, чтобы продолжить</p>
</div>

{% endblock %}

{% block log_form_content %}

<button type="submit" class="btn btn-base py-2" id="register-button">Продолжить</button>
{% endblock %}

{% block log_post_content %}

<p class="mt-3">Уже есть аккаунт? <a href="{% url 'login' %}" class="log-link fw-bold">Вход!</a></p>

{% endblock %}