{% extends "base.html" %}

{% load static %}

{% block content %}

<h2>Добро пожаловать!</h2>
<p class="subtitle">Пожалуйста, введите код и выберите роль</p>

<div class="role-toggle">
  <label>
    <input type="radio" name="role" value="student" checked>
    <span>Обучающийся</span>
  </label>
  <label>
    <input type="radio" name="role" value="teacher">
    <span>Обучающий</span>
  </label>
</div>

{% include 'errors.html' with messages=messages %}

<!-- Форма -->
<form method="post">
  <div class="form-group">
    <label for="code">Код</label>
    <input type="text" id="code" name="code" placeholder="Введите код, который пришёл на почту" required />
  </div>

  <p class="resend-info">
    Отправить код повторно<br/>
    Через <span id="countdown">0:59</span>
  </p>

  <a href="#" id="sent-link">Отправить повторно</a>

  {% csrf_token %}
  <button type="submit" class="btn">Продолжить</button>

  <div class="have-account">
    Уже есть аккаунт? <a href="{% url 'login' %}">Вход</a>
  </div>
</form>


<script src="{% static 'js/timer.js' %}"></script>

{% endblock %}