{% extends "base.html" %}

{% block content %}

<h2>Добро пожаловать!</h2>
<p class="subtitle">Зарегистрируйтесь, чтобы продолжить</p>

{% include 'errors.html' with messages=messages %}

<form method="post">
    <!-- Поле 1: Пароль -->
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" placeholder="Введите пароль" required />
    </div>

    <!-- Поле 2: Повтор пароля -->
    <div class="form-group">
      <label for="password2">Повторите пароль</label>
      <input type="password" id="password2" name="password2" placeholder="Придумайте пароль и повторите его" required />
    </div>

    {% csrf_token %}
    <button type="submit" class="btn">Зарегистрироваться</button>

    <div class="have-account">
      Уже есть аккаунт? <a href="#">Вход</a>
    </div>
</form>

{% endblock %}