{% extends 'works_base.html' %}

{% block header %}
    {% include 'components/name_page.html' with name="Создание работы" href="javascript:history.back()" %}
{% endblock %}

{% block content %}

    <div class="author-work-content mt-4">
        <form method="post" class="d-flex flex-column align-items-center w-100" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-work">

                {{ form.name }}
                {{ form.description }}

                {{ form.category }}

                <div class="info-container mt-3">

                    <div class="info padding-5px mt-1 w-100">
                        <span class="info-title">ФИО: </span>
                        <span>{{ request.user.full_name }}</span>
                    </div>

                    <div class="info padding-5px mt-1 w-100">
                        <span class="info-title">Почта: </span>
                        <span>{{ request.user.email }}</span>
                    </div>

                    <div class="info padding-5px mt-1 w-100">
                        <span class="info-title">Тел. номер: </span>
                        <span>{{ request.user.phone_number }}</span>
                    </div>

                    <div class="info padding-5px mt-1 w-100">
                        <span class="info-title">Организация: </span>
                        <span>{{ request.user.organization }}</span>
                    </div>
                </div>

                <div class="price-container">
                    {{ form.status }}
                    {{ form.price }}
                    {{ form.upload }}
                </div>

            </div>

            <button type="submit" class="btn btn-base mt-3">Сохранить</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        const status = document.querySelectorAll(".status-option");

        const price = document.getElementById("price");

        function togglePrice() {
            let checkedStatus;

            status.forEach((item) => {
                if(item.checked){
                    checkedStatus = item;
                }
            });


            if(checkedStatus.value === "PUBLIC") {
                price.style.display = 'none'
            } else {
                price.style.display = 'flex'
            }
        }

        status.forEach(e => e.addEventListener('change', togglePrice));

        togglePrice();
    </script>

    {{ block.super }}

{% endblock %}