{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% block head %}
    {% endblock %}

</head>
<body>

    <div class="header">
        {% block header %}
        {% endblock %}
    </div>

    <div class="content-layout">
        {% block content  %}

        {% endblock %}
    </div>


    <div class="navbar-container overflow-y" id="navbar">
        {% include 'components/navbar.html' %}
    </div>


    <script src="{%static 'js/bootstrap.min.js' %}"></script>

    {% block scripts %}

    {% endblock %}
</body>
</html>