<h1 class="text-center my-2">
    {%if is_active%}
        <span
            class="pageHeader appThemeColorBackground px-5 d-inline-block border border-white badge text-white rounded-3"
            data-active="{{ is_active }}">
            {{ entity_name }}
        </span>
    {%else%}
        <span
            class="pageHeader d-inline-block px-5 border border-white badge text-bg-light text-dark rounded-3 shadow"
            data-active="{{ is_active }}">
            {{ entity_name }}
        </span>
    {%endif%}
</h1>