<div 
    class="container-fluid cardContainer fw-bold"
    style="width: 85%;">
    <div class="row row-cols-4 g-4">
    {% if request.user.is_educator and not is_category %}
        <div class="col">
            {%include 'components/card_add.html' with href_card_add=href_card_add %}
        </div>
    {% endif %}
        {% for item in items %}
        <div class="col">
            {%include template_name with item=item href=href %}
        </div>
        {% endfor %}
    </div>
</div>
<div id="courseModalWindow">
</div>
{% if include_js %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
    const courseCards = document.querySelectorAll('.card:not(#createCourseCard)');
    courseCards.forEach((card) => {
      card.addEventListener('click', () => {
        const cardId = card.dataset.id; 
        fetch(`/courses/${cardId}/details`)
            .then(response => response.json())
            .then(data => {
                const error = data.error;
                if (error) {
                    alert(error)
                } else {
                    const courseModalContainer = document.getElementById('courseModalWindow');
                    courseModalContainer.innerHTML = data.html;
                    const courseModal = document.getElementById('courseModal');

                    new bootstrap.Modal(courseModal).show();

                    const outputMessage = data.message;
                    if (outputMessage) {
                      const div = document.createElement('div');
                      div.className = 'alert alert-danger';
                      div.textContent = outputMessage;
                      document.body.appendChild(div);
                    }
                    
                }
            });
    });   
    });
    
     
});
  </script>
{% endif %}