{% load static %}

<script>
    const menuItems = [
        {
            name: 'personal_account',
            title : 'Личный кабинет',
            icon: '{% static "icons/personal_account.svg" %}',
            href: "{% url 'users:profile' %}"
        },
        {
            name: 'author_works',
            title : 'Авторские работы',
            icon: '{% static "icons/authors_works.svg" %}',
            href: "{% url 'author-categories' %}"
        },
        {
            name: 'course',
            title : 'Учебные курсы',
            icon: '{% static "icons/course.svg" %}',
            href: "{% url 'courses-categories' %}"
        },
        {
            name: 'schedule',
            title : 'Расписание',
            icon: '{% static "icons/create_entry.svg" %}',
            href: "{% url 'schedule' %}"
        }
    ];
</script>

<script src="{% static 'js/navbar.js' %}"></script>